{% extends "base.html" %}

{% block title %}
<title> Про магазин </title>
{% endblock %}

{% block body %}
<div class = "container">
    <h1>Про магазин </h1>
    <p> dsdsdddddddddddddddddd</p>
</div>
{% endblock %}
