{% extends "base.html" %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block body %}

<div class = "container">
    <h1>Добавление товара</h1>
    <form method="POST">
        <input type = "number" class="form-control" name="title" id="title" placeholder="Введите название"><br>
        <input type = "number" class="form-control" name="price" id="price" placeholder="Введите цену"><br>
        <button class="btn btn-success" type="submit">Добавить товар</button>
    </form>
    {% endblock %}