{% extends "base.html" %}

{% block title %}
SECOND PAGE
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1> добавление статьи </h1>
    <form method ="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введите название"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите анонс"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст"></textarea><br>
        <input type="submit" class="btn btn-success" value="отправить">
    </form>
<!--    <form action="/create-article"></form>-->
</div>


{% endblock %}