{% extends "base.html" %}

{% block title %}
<title>Онлайн магазин</title>
{% endblock %}

{% block body %}

<h1> Онлайн магазин </h1>
<div class="card-deck mb-3 text-center">
    Имеются следующие данные {% for el in data%}
    {{el.title}}
    {{el.price}}

    {% endfor %}
    </div>


{% endblock %}